* {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #000;
}

main {
  text-align: center;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 8vw;
  text-shadow: 0 0 2px #000, 0 0 3px #fff;
  color: #fff;
}
