* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

html,
body {
  height: 100%;
}

main {
  text-align: center;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d87093;
  font-size: 8vw;
}
